---
layout: default
image: /img/banner.jpg
---
<div class="jumbotron jumbotron-fluid">
<div class="container">
  <h1><a href="/about/index.html"><img src="/img/me2024b.jpg" width="140" height="140" alt="Sebastian Schiefer" class="img-thumbnail rounded-circle mx-auto d-block"></a></h1>
  <h2 class="display-4 text-center">{{ site.title }}</h2>
  <h3 class="lead text-center">Hello, world! Welcome to my website.</h3>
  <!-- <div class="alert alert-warning" role="alert">Under Construction</div> -->
</div>
</div>
</div>
</div>

<!-- Blog Posts -->
<div class="container">
  <h3> Blog Posts:</h3>
  <p class="text-muted">Last updated on <time datetime="{{ site.time | date_to_xmlschema }}" itemprop="datePublished">{{ site.time | date: "%b %-d, %Y" }}</time></p>
<div class="card-deck">
    {% for post in paginator.posts %}

        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="{{ post.image }}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ post.date | date: "%b %-d, %Y" }} - {{ post.author }}</h6>
            <p class="card-text">{{ post.subtitle }}</p>
          <a class="btn btn-dark" href="{{ post.url | prepend: site.baseurl }}" role="button">CLICK HERE</a>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
  </div>
  <br>
  <!-- Pagination links -->
      <div class="container">
      <div class="pagination justify-content-center">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous btn btn-dark" role="button">Previous</a><span class="sr-only">(Previous Page)</span>
        {% else %}
          <span class="previous btn btn-dark" role="button">Previous</span><span class="sr-only">(Previous Page)</span>
        {% endif %}
        <div class="container">
        <p class="text-center"><strong><span class="page_number text-muted">  Page: {{ paginator.page }} of {{ paginator.total_pages }}  </span></strong></p></div>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next btn btn-dark" role="button">Next</a><span class="sr-only">(Next Page)</span>
        {% else %}
          <span class="next btn btn-dark" role="button">Next</span><span class="sr-only">(Next Page)</span>
        {% endif %}
      </div>
  </div>
</div>
</div>
