<div class="container">
  <hr>
</div>
<div class="container">
<footer>
    <p class="copyright text-muted text-center">&copy; {{ site.time | date: '%Y' }} {{ site.author }}</p>
    <p class="copyright text-muted text-center">This Website was made with <a href="http://jekyllrb.com/">jekyllrb</a>, <a href="https://getbootstrap.com/">Bootstrap</a>, <a href="https://jquery.com"> jQuery</a> & <a href="https://fontawesome.com/">Font Awesome</a>.<br>
      It's hosted for free at <a href="https://gitlab.com">GitLab</a>. The <a href="https://gitlab.com/tuxforce/tuxforce.gitlab.io">scource code</a> is licensed under the <a href="{{"/mitlicense.html" | prepend: site.baseurl }}">MIT License</a>.</p>
</footer>
</div>
