<header class="site-header">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <a class="navbar-brand" href="{{ site.baseurl }}/"><i class="fa fa-home"></i></i><span class="sr-only">(Link to the index page)</span></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">{% if page.title %}{{ page.title | escape }}{% else %}{{ "Home" | escape }}{% endif %} <span class="sr-only">(current)</span></a>
      </li>
      {% for my_page in site.pages %}{% if my_page.title %}<li class="nav-item"><a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>{% endif %}{% endfor %}
      <li class="nav-item">
        <a class="nav-link" href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa my-fa-rss"></i></i><span class="sr-only">(subscribe rss feed)</span></a>
      </li>
      </ul>
    <!-- <form class="form-inline my-2 my-lg-0" role="search" label="search" method="get" action="http://www.google.com/search">
      <input class="form-control mr-sm-2" type="text" name="q" size="31" maxlength="255" value="" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="sitesearch" value="tuxforce.gitlab.io" value="Google Search">Search</button>
    </form> -->
  </div>
  </nav>
</header>
