<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.title | escape }} | {% if page.title %}{{ page.title | escape }}{% else %}{{ "Home" | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <!-- facebook open graph meta -->
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta property="og:type" content="{% if page.website %}website{% else %}article{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% if page.image %}<meta property="og:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">{% endif %}
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title | escape }}">
  <meta property="og:locale" content="{% if page.locale %}{{ page.locale }}{% else %}{{ site.locale }}{% endif %}">
  {% if page.date %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  <meta property="article:author" content="{{ site.author }}">
  {% for post in site.related_posts limit:3 %}<meta property="og:see_also" content="{{ post.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">{% endfor %}{% endif %}
  <!-- end facebook open graph meta -->
  <!-- twitter card -->
    <meta name="twitter:card" content="{% if page.image %}photo{% else %}summary{% endif %}">
    <meta name="twitter:site" content="@{{ site.twitter_username }}">
    <meta name="twitter:creator" content="@{{ site.twitter_username }}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}">
    {% if page.image %}<meta name="twitter:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">{% else %}<meta name="twitter:image" content="{{ site.image | prepend: site.baseurl | prepend: site.url }}">{% endif %}
    <!-- end twitter card -->
    <!-- add to homescreen for chrome on android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="{{ "/img/android-desktop.png" | prepend: site.baseurl }}">
  <!-- add to homescreen for safari on ios -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="tuxforce">
  <link rel="apple-touch-icon-precomposed" href="{{ "/img/ios-desktop.png" | prepend: site.baseurl }}">
  <!-- tile icon for win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" href="{{ "/img/touch/ms-touch-icon-144x144-precomposed.png" | prepend: site.baseurl }}">
  <meta name="msapplication-TileColor" content="#3372DF">
  <link rel="shortcut icon" href="{{ "/img/favicon.png" | prepend: site.baseurl }}">
  <!-- css files -->
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/all.min.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
