<!DOCTYPE html>
<html lang="en">
{% include head.html %}<body>
{% include header.html %}{{ content }}
{% include footer.html %}
<script src="{{ "/assets/js/jquery.slim.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/popper.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
</html>
