---
layout: default
---
<article>

  <div class="jumbotron jumbotron-fluid">
     <div class="container">
       <h1 class="display-3">{{ page.title }}</h1>
      </div>
  </div>

  <div class="container">
    {{ content }}
  </div>

</article>
